.column {
    width: 334px;
    margin: 10px;
    font-weight: 200;
    text-align: center;
    margin: 20px 80px 40px 80px;

    .colunm__number {
        font-size: 60px;
        line-height: 10px;
        font-weight: 200;
    }

    .column__title {
        font-size: 16px;
        line-height: 20px;
    }

    .colunm__text {
        font-size: 12px;
        line-height: 16px;
    }

}