
.clearfix::after{
    content: "";
    display: block;
    clear: both;
  }

.HomeHeader {
    display: flex;
    float: right;
    width: 52%;
    
}

.header__right-side {
    position: relative;
    top: 200px;
}

.header__img {
    display: block;
    width: 46%;
    height: 760px;
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-size: cover;
    background-position: right;
    float: left;

}
