
.HomeHeader {
    display: flex;
    
    
    
    .header__img {
        width: 885px;
        height: 963px;
        background-image: url("../../assets/Home-Hero-Image.jpg");
        background-size: cover;
        background-position: right;
    }
}


