.OddajRzeczy {
    margin: 0 auto;
    width: 100%;
}

.oddaj-header {
    display: flex;
    width: 100%;
    color: $dark-grey;

    &__img {
        width: 45%;
        background-image: url("../../assets/Form-Hero-Image.jpg");
        background-size: cover;
        background-position: left;
    }

    &__content {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 200px 0 50px -100px;
    }

    &__title {
        text-align: center;
        font-size: 26px;
        line-height: 30px;

    }

    &__low-title {
        text-align: center;
        font-size: 22px;
        font-weight: 100;
        padding: 10px;
    }

    &__steps {
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }

    &__step-border {
        transform: rotate(45deg);
        border: 1px solid $dark-grey;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 7px;
    }

    &__step {
        height: 120%;
        transform: rotate(-45deg);
        text-align: center;
        font-size: 14.2px;
    }

    &__step-number {
        margin-bottom: 12px;
        font-size: 18px;
        vertical-align: top;
    }
}