.big-btn {
    display: block;
    width: 245px;
    height: 95px;
    text-decoration: none;
    padding: 10px 34px;
    border: 1px solid $dark-grey;
    box-sizing: border-box;
    text-align: center;
    font-size: 28.5px;
    font-weight: 100;
    line-height: 35.5px;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
}